/node_modules
public/hot/
public/storage/
public/js/
public/fonts
public/css/
/storage/*.key
/vendor
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.production
yarn.lock
.phpunit.result.cache
.php_cs.cache
.idea
package-lock.json
public/assets/media/client-10.jpg
public/assets/media/client-10_mediumThumb.jpg
*.jpg
